body{
    background-color: peru;
}
h1{
    color: black;
    text-align: center;
    font-size: 40%;

}
p{
    color: black;
    text-align: center;
    font-size: 40%;

}
.itens{
    font-style: italic;
    text-align: left;
}

.beneficios{
    background-color: lightcoral;
}


#imagem1{
    width: 100%;
    height: 20%;
    border: 2px solid burlywood;
}