body{
    background-color: rgb(138, 78, 17);
}
h1{
    color: black;
    text-align: center;
    font-size:25px;

}
p{
    color: black;
    text-align: center;
    font-size: 25px;

}
.itens{
    font-style: italic;
    text-align: left;
}

.beneficios{
    background-color: rgb(190, 104, 63);
}


#imagem1{
    width: 100%;
    height: 20%;
    border: 5px solid rgb(156, 98, 22);
}
ul{
  display: inline-block;
  vertical-align: top;  
  margin: 3%;
  list-style: circle;
}