body{
    background-color: peru;
}
h1{
    color: black;
    text-align: center;
    font-size:25px;

}
p{
    color: black;
    text-align: center;
    font-size: 25px;

}
.itens{
    font-style: italic;
    text-align: left;
}

.beneficios{
    background-color: sienna;
}


#imagem1{
    width: 100%;
    height: 20%;
    border: 5px solid rgb(224, 154, 61);
}